@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

.recharts-surface:focus,
.recharts-layer:focus {
  outline: none;
}

.card {
  box-shadow: none;
  transition: .3s;
}